// Union jack and down chevron background for the currency drop down
.gbp {
  background-image: url(../img/GBP.png), url(https://cdn.shopify.com/s/files/1/2342/0643/t/2/assets/ico-select.svg?9632306377584091786);
  background-repeat: no-repeat, no-repeat;
  background-position: right 30px center, right 10px center;
  background-size: 40px, 12px;
}
// US flag and down chevron background for the currency drop down
.usd {
  background-image: url(../img/USD.png), url(https://cdn.shopify.com/s/files/1/2342/0643/t/2/assets/ico-select.svg?9632306377584091786);
  background-repeat: no-repeat, no-repeat;
  background-position: right 30px center, right 10px center;
  background-size: 40px, 12px;
}
.eur {
  // European flag and down chevron background for the currency drop down
  background-image: url(../img/EUR.png), url(https://cdn.shopify.com/s/files/1/2342/0643/t/2/assets/ico-select.svg?9632306377584091786);
  background-repeat: no-repeat, no-repeat;
  background-position: right 30px center, right 10px center;
  background-size: 40px, 12px;
}
// Japenese flag and down chevron background for the currency drop down
.jpy {
  background-image: url(../img/JPY.png), url(https://cdn.shopify.com/s/files/1/2342/0643/t/2/assets/ico-select.svg?9632306377584091786);
  background-repeat: no-repeat, no-repeat;
  background-position: right 30px center, right 10px center;
  background-size: 40px, 12px;
}
// Australian flag and down chevron background for the currency drop down
.aud {
  background-image: url(../img/AUD.png), url(https://cdn.shopify.com/s/files/1/2342/0643/t/2/assets/ico-select.svg?9632306377584091786);
  background-repeat: no-repeat, no-repeat;
  background-position: right 30px center, right 10px center;
  background-size: 40px, 12px;
}
// Canadian flag and down chevron background for the currency drop down
.cad {
  background-image: url(../img/CAD.png), url(https://cdn.shopify.com/s/files/1/2342/0643/t/2/assets/ico-select.svg?9632306377584091786);
  background-repeat: no-repeat, no-repeat;
  background-position: right 30px center, right 10px center;
  background-size: 40px, 12px;
}
// puts a margin at the bottom of the currency conversion form
#currencyconverter {
  margin-bottom: 10px;
}
// Sets the width of the dropdown
#currency {
  width: 100%;
}
// styles the submit button to match the 'Add to cart' button on the page
#convertsubmit {
  display: block;
  width: 100%;
  line-height: 1.4;
  padding-left: 0;
  padding-right: 0;
  white-space: normal;
  text-align: center;
}
